/*	Styles by {Darren Wallace}
*/                          
h1{
	line-height:1em;
}
#main, aside{
	@include box-sizing(border-box); 
	line-height:1.5em;   
	margin-bottom:1.5em;
	
}
// #main {
// 	padding: 12px 12px;  
// 	//@include border-radius;   
// 	background-color:rgb(250,250,250);   
// 	
// } 
aside{                
	font-family:'Lexia';
	background-color:rgb(255,255,180);
	@include box-shadow;  
	*{
		padding:0px 24px;
	}                       
	
}     
            
#footer {
	clear:both;
}
                       
#site-switch{
	float:right;
}