/*	Styles by {Darren Wallace}
*/                          
h1{
	line-height:1em;
}
#main, aside{
	@include box-sizing(border-box); 
	line-height:1.5em;   
	margin-bottom:1.5em;
	
}

aside{                
	@include ff-decorative;
	background-color:rgb(255,255,180);
	@include page-curl(rgba(0,0,100,0.3), 8deg, 3deg, 2px, 8px, 8px);
	p {
		padding: 12px;
	}	                                       
}     
            
#footer {
	clear:both;
}
                       
#site-switch{
	float:right;
}