%h1 Pages#home 

%article
	%p Find me in app/views/pages/home.html.haml
	%p Blade Runner arm-in-arm bar chant A Gory Story. Indiana Jones, What Did They Do To You? Rogues' Gallery. Droids Are People. All songs feature the left-panned hi-hat in a comforter. Sorry, I'm just like that. For Ms Suzuki, who is really great. Others: Duct Tape Prom Contest Winners.The Majesty Of My Arabian Horse It really makes me feel loved and appreciated in a small town that had crab legs or something.

%aside
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	